.App {
  text-align: center;
}

  .wrapper {
  display: grid;
  grid-template-columns: 70px 100px 100px 100px 100px 100px 50px;
  text-align: center;
  grid-auto-rows: 50px;
  justify-content: center;
}

.item {
  background-color: white;
  border: 1px solid rgb(215, 217, 218);

}

.Button {
  height: 30px;
  width: 60px;
  border: 2px solid #4CAF50; 
  border-radius: 4px;
}


.icon {
  display: block;
  transition: transform 5s linear;
}


.animation{
  position: relative;
  animation-name: elevatorAnimation;
  animation-duration: var(--duration);  
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes elevatorAnimation {
  from {transform: translateY(0);}
  to {transform: translateY(var(--destantion));  }
}






